
Scala_CookBook/.idea
.idea
.vscode/
.metals/
Spark-The_Definitive_Guide/target/*
Scala_CookBook/project/target/*
Advanced_Analysis_spark/.idea/*
Advanced_Analysis_spark/project/target/*
Scala_CookBook/.idea/*
Advanced_Analysis_spark/target/*
Advanced_Analysis_spark/.idea/*
Spark-The_Definitive_Guide/.idea/*
Spark-The_Definitive_Guide/project/target/*
Scala_CookBook/project/target/*
Scala_CookBook/target/*
project/
.idea
target/
hello-world/target/*
hello-world/project/target/*
Scala_CookBook/.idea/*
Scala_CookBook/target/*
Django/venv/*

Rock the JVM/scala-at-light-speed/.metals/*
Rock the JVM/.metals/*
Spark-The_Definitive_Guide/~*
Rock the JVM/scala-at-light-speed/.vscode/*
Rock the JVM/scala-at-light-speed/.bloop/*
Rock the JVM/scala-at-light-speed/.bloop/*
Rock the JVM/null/
Rock%20the%20JVM/*
